.loginContainer {
    display: flex;
    height: 100vh;
  }
  
  .leftSide {
    flex: 1;
    background: url('../components/image1.png') no-repeat center center;
    background-size: cover;
  }
  
  .rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.1);
  }
  
  .rightSide h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .rightSide form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .rightSide input {
    margin: 8px 0;
    padding: 9px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .rightSide button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rightSide button:hover {
    background-color: #0056b3;
  }
  
  .rightSide p {
    margin-top: 15px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  
  .navbar {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
  }
  
  .Signupbtn {
    margin: 5px 10px;
    text-decoration: none;
    color: #333;
    padding: 6px 12px;
    border-radius: 5px;
  }
  .Loginbtn{
    margin: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 6px 10px;
    border-radius: 5px;
  }
  
  .navButton:hover {
    background-color: #003d99;
  }
  
  @media (max-width: 768px) {
    .loginContainer {
      flex-direction: column;
    }
  
    .leftSide,
    .rightSide {
      flex: none;
      width: 100%;
    }
  }
  
  @media (max-width: 350px) {
    .rightSide form {
      width: 100%;
    }
  
    .rightSide input {
      font-size: 14px;
    }
  
    .rightSide button {
      font-size: 14px;
    }
  }
  